<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/loginSignup.css" />
    <title>Login & Sign up</title>

   
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login_user" method="POST" class="sign-in-form">
            <h2 class="title">Login</h2>
            {% if status == -1 %}
            <h5>Incorrect Details</h5>
          {% endif %}
      <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password"required />
            </div> 
            <input type="submit" class="btn" value="Login" />
            <div class="redirect-container" onclick="location.href='/trainer_login_signup'">
              <span>Log In as Trainer</span>
              <img src="./trainerLoginSignup.html" class="redirect"/>
            </div>
                <!-- <a href="dashboard.html" class="get-started-btn ">Login</a> -->


          </form>
          <form action="/signup_user" method="POST" class="sign-up-form">
            <h2 class="title">Sign Up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="name" placeholder="Name" required />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password"required />
            </div>
            <!-- <a href="dashboard.html" class="get-started-btn ">Sign Up</a> -->
            <input type="submit" class="btn" value="Sign up" /> 
            <div class="redirect-container" onclick="location.href='/trainer_login_signup'">
              <span>Sign Up as Trainer</span>
              <img src="../static/images/redirect.png" class="redirect"/>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Build better nutrition habits to acheive your weight loss and well-being loss</p>
             <p>Create a New Account!!</p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="/static/images/signup.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Make Yourself Fit</h3>
            <p>
              Coaching you to a healthier and more active life
            </p>
            <button class="btn transparent" id="sign-in-btn"> Login</button>
          </div>
          <img src="/static/images/login.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="/static/loginSignup.js"></script>
  </body>
</html>